
.rtf
{
    ul,
    ol
    {
        margin: 20px 40px 40px;
        list-style: initial;
    }

    a
    {
        transition: border-bottom 1s $easeOutQuint;
        color: $cerulean;
        border-bottom: 1px dotted transparent;

        &:hover
        {
            border-bottom: 1px dotted $cerulean;
        }
    }
}

.seperator
{
    display: inline-block;
}

.svg
{
    display: none;
}

.replaced-svg
{
    display: inline-block;
    //transition: fill 0.5s $easeOutQuint;
}

.ok
{
    color: $ok;
}

.error,
.required
{
    font-weight: $bold;
    display: inline-block;
    transform: matrix(1, 0, 0, 1, 0, 25);
    transform-origin: 0 0;
    text-transform: uppercase;
    color: $err;

    @include in-view();

    &.show
    {
        transform: matrix(1, 0, 0, 1, 0, 10);

        @include in-view(true);
    }
}

.form-input-container
{
    margin-bottom: 15px;
}

.swiper-container
{
    &:hover
    {
        & .swiper-button-prev,
        & .swiper-button-next,
        & ~ .swiper-button-prev,
        & ~ .swiper-button-next
        {
            transform: matrix(1, 0, 0, 1, 0, 0);

            @include in-view(true);
        }
    }
}

.swiper-slide
{
    background: center center / cover no-repeat;

    @include mq($from: max)
    {
        height: 70vh;
    }
    @include mq($until: max)
    {
        padding-top: 58.25%;
    }
}

.swiper-button-prev
{
    left: 0;
    transform: matrix(1, 0, 0, 1, -100, 0);

    &::before
    {
        top: 63%;
        left: 8px;
        transform: rotate(45deg);

        @include mq($until: desktop)
        {
            left: 5px;
        }
    }

    &::after
    {
        bottom: 61%;
        left: 8px;
        transform: rotate(-45deg);

        @include mq($until: desktop)
        {
            left: 5px;
        }
    }
}

.swiper-button-next
{
    right: 0;
    transform: matrix(1, 0, 0, 1, 100, 0);

    &::before
    {
        top: 63%;
        right: 8px;
        transform: rotate(-45deg);

        @include mq($until: desktop)
        {
            right: 5px;
        }
    }

    &::after
    {
        right: 8px;
        bottom: 61%;
        transform: rotate(45deg);

        @include mq($until: desktop)
        {
            right: 5px;
        }
    }
}

.swiper-button-prev,
.swiper-button-next
{
    position: absolute;
    z-index: 9999;
    top: calc(50% - 35px);
    width: 50px;
    height: 75px;
    padding: 0 15px;
    animation: arrow-hover-out 1s $easeOutQuint 0s 1 normal forwards;
    background: none;

    @include in-view(false, 0.8s, 0s, $customEase1);
    @include mq($until: mid-desktop)
    {
        transform: matrix(1, 0, 0, 1, 0, 0);

        @include in-view(true);
    }
    @include mq($until: desktop)
    {
        width: 33px;
        height: 58px;
        padding: 0 20px;
    }

    &:hover
    {
        transform: matrix(1, 0, 0, 1, 0, 0);
        animation: arrow-hover-in 1s $easeOutQuint 0s 1 normal forwards;

        @include in-view(true);
    }

    &::before,
    &::after
    {
        position: absolute;
        z-index: -1;
        display: inline-block;
        width: 30px;
        height: 2px;
        content: "";
        background-color: $cerulean;

        @include mq($until: desktop)
        {
            width: 24px;
        }
    }

    @keyframes arrow-hover-in
    {
        0%
        {
            background-color: rgb(255, 255, 255);
        }

        100%
        {
            background-color: rgb(0, 0, 0);
        }
    }

    @keyframes arrow-hover-out
    {
        0%
        {
            background-color: rgb(0, 0, 0);
        }

        100%
        {
            background-color: rgb(255, 255, 255);
        }
    }
}

.selectric-wrapper
{
    z-index: 999;
    text-align: left;

    &.selectric-open
    {
        & .selectric-items
        {
            z-index: 999;
            top: 0;
            border-bottom: 2px solid $black !important;
        }
    }

    & .selectric
    {
        border-radius: 0;

        & .button
        {
            top: -8px;
            height: 55px;

            &::after
            {
                border: 8px solid transparent;
                border-top-color: $white;
                border-bottom: none;
            }
        }
    }

    & .selectric-items,
    & .selectric-scroll
    {
        border: 0;
    }

    & .label,
    & .selectric-items li
    {
        padding-top: 1px;
        padding-left: 10px;
        text-transform: uppercase !important;

        @include font-tracking(1);
        @include mq($from: mobile)
        {
            font-size: rem(16) !important;
        }
        @include mq($from: mobile-sm, $until: mobile)
        {
            font-size: rem(13) !important;
            padding-top: 0;
        }
    }

    & .selectric-items li
    {
        padding: 15px;
    }
}
