
.main-nav
{
    padding-right: 50px;
    transition: transform 1s $easeOutQuint;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: 0 0;

    @include mq($until: 1100px)
    {
        transform: matrix(1, 0, 0, 1, 0, -15);
    }
    @include mq($until: 1025px)
    {
        padding-right: 25px;
    }
    @include mq($until: desktop)
    {
        padding: 0;
    }

    align-self: center;
}

.main-nav__hamburger
{
    position: absolute;
    z-index: 9999;
    top: -27px;
    right: 35px;
    display: none;

    @include mq($until: desktop)
    {
        right: 15px;
        display: inline-block;
    }
    @include mq($until: tablet)
    {
        right: 15px;
    }
}

.main-nav__list
{
    @include mq($from: desktop)
    {
        z-index: 999;
        display: flex;
        height: 100%;
    }
    @include mq($until: desktop)
    {
        position: absolute;
        z-index: 99999;
        top: 45px;
        right: 0;
        left: 0;
        width: 100vw;
        height: calc(100vh - 92px);
        transition: opacity 0.5s $customEase1, transform 0.5s $customEase1;
        transform: translate3d(0, 0, 0);
        opacity: 1;

        align-items: center;

        &--active
        {
            transform: translate3d(-100vw, 0, 0);
            opacity: 1;

            & .main-nav__item
            {
                transition: opacity 0.5s $customEase1 0.25s;
                opacity: 1;
            }
        }

        &::after
        {
            position: absolute;
            z-index: 9999;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            content: "";
            opacity: 1;
            background-color: $white;
        }
    }
}

.main-nav__item
{
    @include mq($from: desktop)
    {
        &:not(:first-of-type)
        {
            margin: 0 0 0 50px;
        }
    }
    @include mq($until: desktop)
    {
        z-index: 99999;
        top: 100px;
        display: block;
        width: 300px;
        margin: auto;
        transition: opacity 0.5s $customEase1;
        opacity: 0;

        &:not(:first-of-type)
        {
            & .main-nav__menu
            {
                display: none;
            }
        }
    }

    &:hover
    {
        & .main-nav__lnk
        {
            color: $cerulean;

            & ~ .main-nav__menu
            {
                visibility: visible;
                height: auto;
                opacity: 1;
            }

            &::after
            {
                transform: scaleX(1);
                transform-origin: left center;
            }
        }
    }
}

.main-nav__lnk
{
    font-family: $font-primary;
    font-size: rem(20);
    font-weight: $bold;
    z-index: 1;
    transition: color 0.25s linear;
    text-decoration: none;
    text-transform: uppercase;
    color: $bay-of-many;

    @include font-tracking(1);
    @include mq($until: desktop)
    {
        font-size: rem(30);
        line-height: 2;
        z-index: 9999;
    }

    &:hover,
    &--selected
    {
        color: $cerulean;

        &::after
        {
            transform: scaleX(1);
            transform-origin: left center;
        }
    }

    &::after
    {
        position: absolute;
        z-index: -1;
        right: 0;
        bottom: -3px;
        left: 0;
        width: 100%;
        content: "";
        transition: transform 0.5s $customEase1;
        transform: scaleX(0);
        transform-origin: right center;
        border-bottom: 2px solid $cerulean;
    }
}

.main-nav__menu
{
    @include mq($from: desktop)
    {
        position: absolute;
        z-index: 99;
        visibility: hidden;
        height: auto;
        margin: 5px 0 0;
        padding: 13px 15px;
        text-align: left;
        opacity: 0;

        &:hover
        {
            opacity: 1;
        }

        &::after
        {
            position: absolute;
            z-index: -1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            background-color: $black;
        }
    }
    @include mq($until: desktop)
    {
        display: flex;
        flex-direction: column;
    }
}

.main-nav__menu-item
{
    margin-top: 5px;

    @include mq($until: desktop)
    {
        margin: 20px 0 20px 20px;
    }
}

.main-nav__menu-lnk
{
    font-family: $font-primary;
    font-size: rem(14);
    line-height: 1.5;
    text-decoration: none;
    text-transform: uppercase;
    color: $white;

    @include font-tracking(1.25);
    @include mq($from: desktop)
    {
        display: block;
        width: 100%;
        min-width: 200px;
        padding: 10px 15px;
        animation: block-out 0.5s $easeOutQuad 0s 1 normal forwards;

        &:hover
        {
            animation: block-over 0.5s $easeOutQuad 0s 1 normal forwards;
        }

        &--selected
        {
            animation: block-over 0.5s $easeOutQuad 0s 1 normal forwards;
        }
    }
    @include mq($until: desktop)
    {
        font-size: rem(18);
        font-weight: $bold;
        color: $bay-of-many;
        background-color: $white !important;

        &:hover,
        &--selected
        {
            color: $cerulean;

            &::after
            {
                transform: scaleX(1);
                transform-origin: left center;
            }
        }

        &::after
        {
            position: absolute;
            z-index: -1;
            right: 0;
            bottom: -3px;
            left: 0;
            width: 100%;
            content: "";
            transition: transform 0.5s $customEase1;
            transform: scaleX(0);
            transform-origin: right center;
            border-bottom: 2px solid $cerulean;
        }
    }
}
