
.recent-projects
{
    padding: 25px 0 35px;

    @include mq($until: tablet)
    {
        padding: 25px 0 0;
    }

    & .wrapper-extended
    {
        text-align: center;

        @include mq($until: max)
        {
            width: calc(100% - 250px);
        }
        @include mq($until: desktop)
        {
            width: calc(100% - 200px);
        }
        @include mq($until: tablet)
        {
            width: calc(100%);
            padding: 25px 0 0;
        }
    }

    & .swiper-slide
    {
        display: inline-block;
        height: 300px;
        vertical-align: middle;
        background: center center / cover no-repeat;

        @include mq($from: base-btw-max)
        {
            width: calc(33.34% - 28px);
        }
        @include mq($until: base-btw-max)
        {
            width: calc(50% - 28px);
            height: 275px;
        }
        @include mq($until: mid-desktop)
        {
            height: 225px;
        }
        @include mq($until: tablet)
        {
            height: 300px;
        }
        @include mq($until: mobile)
        {
            height: 250px;
        }
    }

    & .swiper-button-next
    {
        position: absolute;
        z-index: 5;
        right: -75px;
        transition: opacity 0.5s ease-in-out;
        transform: translateY(calc(50% + 10px));
        opacity: 0;

        @include mq($until: base)
        {
            right: -50px;
        }
        @include mq($until: tablet)
        {
            right: 25px;
        }
    }

    & .swiper-button-prev
    {
        position: absolute;
        z-index: 5;
        left: -75px;
        transition: opacity 0.5s ease-in-out;
        transform: translateY(calc(50% + 10px));
        opacity: 0;

        @include mq($until: base)
        {
            left: -50px;
        }
        @include mq($until: tablet)
        {
            left: 25px;
        }
    }

    &:hover
    {
        & .swiper-button-next,
        & .swiper-button-prev
        {
            transition: all 0.5s ease-in-out;
            opacity: 1;
        }
    }
}

.recent-projects__title
{
    margin: 0 0 50px;

    @include mq($until: base)
    {
        font-size: rem(44);
    }
    @include mq($until: tablet)
    {
        font-size: rem(28);
    }

    &::after
    {
        width: 70px;
        margin: 10px auto auto;
        transition: all 0.5s ease;
    }
}

.recent-projects__lnk
{
    z-index: 2;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;

    &::before
    {
        content: "";
        transition: all 0.5s ease-in-out;
        opacity: 0;
        background-color: none;

        @include center;
    }

    &:hover
    {
        &::before
        {
            transition: opacity 0.25s ease-out;
            opacity: 0.5;
            background-color: $white;
        }

        & .recent-projects__subtitle
        {
            margin: 75px 0 0;
            transition: all 0.35s ease;
            transition-delay: 0.5s;
            opacity: 1;
            color: $black;

            @include mq($until: mobile)
            {
                margin-top: 60px;
            }

            &::after
            {
                width: 70px;
                transition: all 0.5s cubic-bezier(0.9, 0, 0.1, 1);
                transition-delay: 1.25s;
                border-bottom: 5px solid $cerulean;
            }
        }

        & .recent-projects__subtitle-desc
        {
            margin: 15px auto auto;
            transition: all 0.35s ease;
            transition-delay: 0.75s;
            opacity: 1;
            color: $black;

            @include mq($until: mobile)
            {
                margin-top: 10px;
            }
        }

        & .recent-projects__cta
        {
            bottom: 40px;
            transition: all 0.35s ease;
            transition-delay: 1s;
            opacity: 1;

            @include mq($until: mobile)
            {
                bottom: 25px;
            }
        }
    }

    &::after
    {
        @include vertical-align();
    }
}

.recent-projects__subtitle
{
    font-weight: $semibold;
    z-index: 2;
    display: inline-block;
    width: 85%;
    margin: 135px 0 0;
    transition: color 1.25s, margin 0.75s, opacity 1.25s ease-in-out;
    transition-delay: 0.5s;
    vertical-align: middle;
    opacity: 0;
    color: $white;

    @include font-tracking(1);
    @include mq($until: mobile)
    {
        font-size: rem(22);
        font-weight: $bold;
        width: 70%;
    }

    &::after
    {
        transition: all 0.5s cubic-bezier(0.9, 0, 0.1, 1);
        border-bottom: 5px solid $bay-of-many;

        @include vertical-align();
    }
}

.recent-projects__subtitle-desc
{
    font-size: rem(22);
    font-weight: $semibold;
    display: block;
    margin: 75px 0 0;
    transition: all 0.5s ease-in-out;
    transition-delay: 0.25s;
    text-transform: none;
    opacity: 0;
    color: $white;

    @include font-leading(30, 22);
    @include font-tracking(0.5);
    @include mq($until: mobile)
    {
        font-size: rem(16);
        font-weight: $bold;
    }
}

.recent-projects__cta
{
    position: absolute;
    z-index: 10;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transition: all 0.5s ease-in-out;
    text-align: center;
    opacity: 0;

    @include mq($until: mobile)
    {
        & .lnk-btn
        {
            font-size: rem(18);
            padding: 13px 20px 15px;
        }
    }
}
