
.main-callout
{
    padding: 40px 40px 100px;
    transition: transform 1s $easeOutQuint;
    transform: matrix(1, 0, 0, 1, 0, 200);
    transform-origin: 0 0;
    text-align: center;

    @include mq($until: tablet)
    {
        padding: 40px 20px 100px;
    }

    &.scroll
    {
        transform: matrix(1, 0, 0, 1, 0, 75);
    }
}

.main-callout.in-view
{
    & .main-callout__box
    {
        transform: matrix(1, 0, 0, 1, 0, 0);

        @include in-view(true);

        @for $i from 1 through 5
        {
            &:nth-of-type(#{$i})
            {
                transition-delay: #{0.25 * $i}s;
            }
        }
    }
}

.main-callout__boxes
{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;

    @include mq($until: max)
    {
        width: 100%;
    }
    @include mq($until: desktop)
    {
        flex-direction: column;
    }
}

.main-callout__box
{
    padding: 40px;
    transform: matrix(1, 0, 0, 1, 0, 150);
    transform-origin: 0 0;

    @include in-view(false);
    @include mq($until: base)
    {
        padding: 20px;
    }

    &:hover
    {
        & .main-callout__box-icon
        {
            &::before
            {
                transform: matrix(1, 0, 0, 1, 0, 0);
            }
        }

        & .main-callout__box-title
        {
            &::after
            {
                transform: scaleX(1);

                @include in-view(true, 0.8s, 0.5s $customEase1);
            }
        }
    }
}

.main-callout__box-icon
{
    width: 80px;
    height: 80px;
    margin: 0;
    color: $cerulean;

    @include mq($until: base)
    {
        font-size: 3em;
        width: 65px;
        height: 65px;
    }

    &::before
    {
        position: absolute;
        right: 0;
        left: 0;
        margin: 0;
        transition: transform 0.75s $easeOutQuint;
        transform: matrix(1, 0, 0, 1, 0, -15);
        transform-origin: 0 0;
    }
}

.main-callout__box-title
{
    margin-bottom: 25px;

    @include font-tracking(1);
    @include mq($from: base)
    {
        font-size: rem(30);
    }
    @include mq($until: base)
    {
        font-size: rem(26);
    }
    @include mq($until: mobile)
    {
        font-size: rem(24);
        margin-bottom: 15px;
    }

    &::after
    {
        width: 75px;
        margin: 25px auto auto;
        transform: scaleX(0);

        @include in-view();
    }
}

.main-callout__box-copy
{
    line-height: 1.75;
    text-align: left;

    @include font-tracking(0.25);
    @include mq($from: base)
    {
        font-size: rem(16);
    }
    @include mq($until: base)
    {
        font-size: rem(15);
    }
    @include mq($until: mobile)
    {
        font-size: rem(14);
    }
}
