.main-callout
{
    text-align: center;

    @include mq($from: base)
    {
        margin: 100px 0 0;
        padding: 40px;
    }
    @include mq($until: base)
    {
        margin: 85px 0 0;
        padding: 40px 20px;
    }
    @include mq($until: mobile)
    {
        padding: 40px 0;
    }
}

.main-callout__boxes
{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;

    @include mq($until: base-btw-max)
    {
        width: 100%;
    }
    @include mq($until: desktop)
    {
        flex-direction: column;
    }
}

.main-callout__box
{
    padding: 40px;

    @include mq($until: base)
    {
        padding: 20px;
    }

    &:hover
    {
        & .main-callout__box-icon
        {
            &::before
            {
                margin: 15px 0;
            }
        }
    }
}

.main-callout__box-icon
{
    width: 80px;
    height: 80px;
    margin: 0;
    transition: margin 0.5s ease;
    color: $cerulean;

    @include mq($until: base)
    {
        font-size: 3em;
        width: 65px;
        height: 65px;
    }

    &::before
    {
        position: absolute;
        right: 0;
        left: 0;
        margin: 0;
        transition: margin 0.5s ease;
    }
}

.main-callout__box-title
{
    margin-bottom: 25px;

    @include mq($from: base)
    {
        font-size: rem(30);
    }
    @include mq($until: base)
    {
        font-size: rem(26);
    }
    @include mq($until: mobile)
    {
        font-size: rem(24);
    }
}

.main-callout__box-copy
{
    line-height: 1.75;
    text-align: left;

    @include mq($from: base)
    {
        font-size: rem(16);
    }
    @include mq($until: base)
    {
        font-size: rem(15);
    }
    @include mq($until: mobile)
    {
        font-size: rem(14);
    }
}
