
.lnk-btn
{
    font-family: $font-primary;
    font-size: rem(18);
    font-weight: $semibold;
    z-index: 1;
    display: inline-block;
    padding: 15px 25px;
    transition: background-color 0.25s linear;
    text-align: center;
    text-decoration: none;
    color: $white;
    background-color: $cerulean;

    &:hover
    {
        transition: background-color 0.25s linear;
        background-color: $bay-of-many;

        &::before
        {
            opacity: 0.1;
            background: linear-gradient(-45deg, transparent 46%, $wild-sand 49%, $wild-sand 51%, transparent 55%);
            background-size: 5px 5px;
        }

        &::after
        {
            opacity: 0;
        }
    }

    &::before
    {
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
        opacity: 0.1;
        background: linear-gradient(-45deg, transparent 46%, $wild-sand 49%, $wild-sand 51%, transparent 55%);
        background-size: 5px 5px;
    }

    &::after
    {
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
        opacity: 0.1;
        background: linear-gradient(45deg, transparent 46%, $wild-sand 49%, $wild-sand 51%, transparent 55%);
        background-size: 5px 5px;
    }
}

.lnk-btn-reverse
{
    background-color: $bay-of-many;

    &:hover
    {
        background-color: $cerulean;
    }
}
