
.footer
{
    z-index: 1;
    display: inline-block;
    width: 100%;
    color: $white;
    background-color: $bay-of-many;

    @include mq($from: base)
    {
        padding: 35px 50px 25px;
    }
    @include mq($until: base)
    {
        padding: 35px 50px 25px;
    }
    @include mq($until: mobile)
    {
        padding: 30px 30px 25px;
    }

    &::before
    {
        background: linear-gradient(45deg, transparent 46%, $wild-sand 49%, $wild-sand 51%, transparent 55%);
    }

    &::after
    {
        background: linear-gradient(-45deg, transparent 46%, $wild-sand 49%, $wild-sand 51%, transparent 55%);
    }

    &::before,
    &::after
    {
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
        opacity: 0.1;
        background-size: 5px 5px;
    }

    & a
    {
        transition: all 0.25s linear;
        text-decoration: none;
        color: $white;
        border-bottom: 1px dotted transparent;

        &:hover
        {
            transition: all 0.25s linear;
            border-bottom: 1px dotted $white;
        }
    }
}

.footer__sections
{
    display: flex;
    justify-content: space-between;

    @include mq($until: tablet)
    {
        flex-direction: column;
    }

    flex-wrap: wrap;
}

.footer__section
{
    &:nth-of-type(2)
    {
        max-width: 40%;

        @include mq($until: base)
        {
            max-width: 35%;
        }
        @include mq($until: desktop)
        {
            max-width: 50%;
            margin-bottom: 25px;
        }
        @include mq($until: tablet)
        {
            max-width: 100%;
            margin: 50px 0;
        }
    }
}

.footer__lnk
{
    font-family: $font-primary;
    font-size: rem(18);
    font-weight: $light;
    line-height: 1.5;

    @include font-tracking(0.75);
    @include mq($until: base)
    {
        font-size: rem(16);
    }
}

.footer__list
{
    display: inline-block;
    margin-top: -6px;
    vertical-align: top;
}

.footer__item
{
    line-height: 2;
    display: inline-block;
    margin: 0 4px 8px 0;
    border-radius: 5px;
    background-color: $cerulean;

    @include mq($from: base)
    {
        padding: 5px 12px 3px;
    }
    @include mq($until: base)
    {
        padding: 3px 10px 2px;
    }

    & .footer__lnk
    {
        font-family: $font-heading;
        font-size: rem(17);

        @include mq($until: base)
        {
            font-size: rem(16);
        }
    }
}

.footer__label
{
    font-size: rem(14);
    display: block;
    margin-top: 20px;
}

.footer__section-contact
{
    & .footer__lnk
    {
        font-weight: $semibold;
    }

    & .footer__lnk-tel
    {
        pointer-events: none;

        @include mq($until: desktop)
        {
            pointer-events: all;
        }
    }
}

.footer__title
{
    font-family: $font-primary;
    font-size: rem(22);
    font-weight: $bold;
    margin-bottom: 28px;
    text-transform: uppercase;
    color: $white;

    @include font-tracking(0.75);
    @include font-leading(30, 22);

    &::after
    {
        display: block;
        width: 50px;
        margin-top: 10px;
        content: "";
        border-bottom: 5px solid $cerulean;
    }
}

.footer__subtitle
{
    font-family: $font-primary;
    font-size: rem(20);
    font-weight: $semibold;
    margin-bottom: 5px;
    text-transform: capitalize;
    color: $white;

    @include font-tracking(0.75);
}

.footer__copyright
{
    font-size: rem(14);
    margin: 50px 0 0;

    @include font-tracking(0.5);
    @include mq($until: mobile)
    {
        font-size: rem(13);
        line-height: 1.5;
        text-align: center;
    }
}
