
.main-hero
{
    transform: matrix(1, 0, 0, 1, 0, 130);

    @include mq($until: 1100px)
    {
        transform: matrix(1, 0, 0, 1, 0, 92);
    }

    &.scroll
    {
        transform: matrix(1, 0, 0, 1, 0, -15);
    }
}
