
.breadcrumbs
{
    z-index: 1;
    display: inline-block;
    height: 50px;
    padding: 18px 35px 0 35px;

    @include mq($until: tablet)
    {
        padding: 18px 25px 0 30px;
    }
    @include mq($until: retina)
    {
        width: 100%;
        height: 45px;
        padding: 15px 20px 0;
    }

    &::after
    {
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 0;
        width: 100%;
        content: "";
        transform-origin: left center;
        background-color: $zumthor;

        @include animation("breadcrumbs", scaleX(0), scaleX(1), 1s, $easeOutQuint, 1s);
    }
}

.breadcrumbs__list
{
    display: flex;
    justify-content: flex-start;
}

.breadcrumbs__item
{
    @include animation("breadcrumb", matrix(1, 0, 0, 1, 0, 50), matrix(1, 0, 0, 1, 0, 0), 1s, $easeOutQuint, 1s);

    &:not(:first-of-type)
    {
        margin-left: 25px;

        @for $i from 2 through 10
        {
            &:nth-of-type(#{$i})
            {
                animation-delay: #{0.75 * $i}s;

                &::before
                {
                    animation-delay: #{1 * $i}s;
                }
            }
        }

        &::before
        {
            font-size: rem(18);
            position: absolute;
            top: -3px;
            left: -18px;
            display: inline-block;
            content: "\00bb";
            color: $bay-of-many;

            @include animation("breadcrumb-arrow", matrix(1, 0, 0, 1, -10, 0), matrix(1, 0, 0, 1, 0, 0), 1s, $easeOutQuint, 1s);
        }
    }
}

.breadcrumbs__lnk
{
    font-family: $font-heading;
    font-size: rem(15);

    @include mq($until: retina)
    {
        font-size: rem(14);
    }

    &--selected
    {
        font-weight: $bold;
    }
}
