
.social-media
{
    position: fixed;
    z-index: 9999;
    top: 150px;
    right: 0;
}

.social-media__item
{
    display: block;
    width: 48px;
    height: 48px;
    background-image: url("/media/images/social-flat.png");
    background-repeat: no-repeat;
}

.social-media__lnk
{
    display: inline-block;
    width: 100%;
    height: 100%;
}

.social-media__facebook
{
    background-position: 0 0;
}

.social-media__yelp
{
    background-position: -96px 0;
}

.social-media__thumbtack
{
    background-position: -144px 0;
}
