
.free-quote
{
    display: flex;
    justify-content: space-between;
    margin: 50px 0 0;
    padding: 100px;

    @include mq($until: base)
    {
        flex-direction: column;
        padding: 75px;
    }
    @include mq($until: desktop)
    {
        padding: 50px;
    }
    @include mq($until: mobile)
    {
        padding: 25px;
    }

    & > div
    {
        @include mq($until: base)
        {
            width: 100%;
        }

        flex: 1;

        &:nth-of-type(2)
        {
            @include mq($from: base-btw-max)
            {
                margin: 0 200px;
            }
            @include mq($until: base-btw-max)
            {
                margin: 0 50px;
            }
            @include mq($until: base)
            {
                margin: 50px 0;
            }
        }
    }

    & p
    {
        font-size: rem(18);
        margin-bottom: 20px;

        @include font-leading(28, 18);
    }
}

.free-quote__title
{
    line-height: 1.25;
    margin-bottom: 25px;

    @include mq($until: mobile)
    {
        line-height: 1.25;
    }

    &::after
    {
        width: 50px;
    }
}
