.services
{
    margin: 25px 0 0;
}

.services__boxes
{
    margin-left: -25px;
}

.services__box
{
    display: inline-block;
    width: calc(33.34% - 28px);
    margin: 50px 0 0;
    margin-left: 25px;
    vertical-align: top;

    @include mq($until: base-btw-max)
    {
        width: calc(50% - 28px);
    }
}

.services__box-lnk
{
    &:hover
    {
        & > .services__box-img
        {
            &::before
            {
                display: inline-block;
                width: calc(100% - 4px);
                height: calc(100% - 4px);
                content: "";
                border: 2px solid $cerulean;
            }
        }
    }
}

.services__box-img
{
    height: 350px;
    background: center center / cover no-repeat;

    @include mq($until: base-btw-max)
    {
        height: 275px;
    }
}

.services__box-title
{
    margin: 35px 0 25px;
}

.services__box-copy
{
    font-size: rem(16);
    line-height: 1.75;
    //padding-right: 40px;
}

.services__box-cta
{
    margin: 50px 0 0 0;
}
