
.gallery
{
    margin: 50px 0 0;
    padding: 100px;

    @include mq($until: base)
    {
        padding: 75px;
    }
    @include mq($until: desktop)
    {
        padding: 50px;
    }
    @include mq($until: mobile)
    {
        padding: 25px;
    }
}

.gallery__nav
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 50px;

    @include mq($until: tablet)
    {
        flex-direction: column;
        margin: 0 0 25px;
    }

    & .selectric-wrapper
    {
        width: 50%;

        @include mq($from: tablet)
        {
            &:not(:first-of-type)
            {
                margin-left: 25px;
            }
        }
        @include mq($until: tablet)
        {
            width: 100%;
            margin: 0 0 25px;
        }
    }
}

.gallery__nav-list
{
    font-family: $font-primary;
}

.gallery__imgs
{
    flex: 2;
}

.gallery__img-lnk
{
    & img
    {
        max-width: 100%;
    }
}
