
.contact
{
    display: flex;
    justify-content: space-between;
    margin: 50px 0 0;
    padding: 100px;

    @include mq($until: base-btw-max)
    {
        padding: 75px;
    }
    @include mq($until: base)
    {
        flex-direction: column;
    }
    @include mq($until: desktop)
    {
        padding: 50px;
    }
    @include mq($until: mobile)
    {
        padding: 25px;
    }
}

.contact__section
{
    width: 50%;

    @include mq($until: base)
    {
        width: 100%;
    }

    &:first-of-type
    {
        padding-right: 100px;

        @include mq($until: max)
        {
            padding-right: 50px;
        }
        @include mq($until: base)
        {
            margin-bottom: 50px;
            padding-right: 0;
        }
    }

    &:last-of-type
    {
        padding-left: 100px;

        @include mq($until: max)
        {
            padding-left: 50px;
        }
        @include mq($until: base)
        {
            padding-left: 0;
        }
    }
}

.contact__container
{
    display: none;
    margin: 50px 0 0;

    @include mq($until: base)
    {
        display: flex;
        justify-content: space-between;
    }
    @include mq($until: desktop)
    {
        flex-direction: column;
    }
}

.contact__contact-details
{
    @include mq($until: desktop)
    {
        width: 100%;

        &:not(:first-of-type)
        {
            margin-top: 35px;
        }
    }
}

.contact__title
{
    margin-bottom: 25px;

    &::after
    {
        width: 50px;
    }
}

.contact__sub-title
{
    font-size: rem(28);
    margin-bottom: 25px;

    &::after
    {
        width: 50px;
    }
}

.contact__copy
{
    & p
    {
        font-size: rem(18);
        margin-bottom: 20px;

        @include font-leading(28, 18);
    }
}

.contact__form
{
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-top: -16px;

    & input
    {
        display: block;
        width: 100%;
    }

    & textarea
    {
        display: block;
        width: 100%;
        height: 200px;
    }

    & select
    {
        display: block;
        width: 100%;
    }

    & button
    {
        @include mq($until: base)
        {
            width: 100%;
        }
    }
}

.contact__lnk
{
    font-size: rem(20);

    @include mq($until: desktop)
    {
        width: 100%;
    }
    @include mq($until: retina)
    {
        font-size: rem(18);
    }
    @include mq($until: mobile)
    {
        font-size: rem(15);
    }
}

.contact__cta
{
    display: inline-block;
    width: 100%;
    text-align: center;

    @include mq($from: base)
    {
        text-align: right;
    }
}
