
.contact
{
    display: flex;
    justify-content: space-between;
    margin: 50px 0 0;
    padding: 100px;

    @include mq($until: base)
    {
        flex-direction: column;
        padding: 75px;
    }
    @include mq($until: desktop)
    {
        padding: 50px;
    }
    @include mq($until: mobile)
    {
        padding: 25px;
    }

    & > div
    {
        @include mq($until: desktop)
        {
            width: 100%;
        }
        @include mq($until: base)
        {
            &:nth-of-type(1)
            {
                order: 2;
            }

            &:nth-of-type(3)
            {
                order: 0;
            }
        }

        flex: 1;

        &:nth-of-type(2)
        {
            @include mq($from: base)
            {
                margin: 0 200px;
            }
            @include mq($until: base)
            {
                margin: 100px 0;

                order: 1;
            }
            @include mq($until: mobile)
            {
                margin: 50px 0;
            }
        }
    }

    & p
    {
        font-size: rem(18);
        margin-bottom: 20px;

        @include font-leading(28, 18);
    }
}

.contact__title
{
    margin-bottom: 25px;

    &::after
    {
        width: 50px;
    }
}

.contact__form
{
    display: inline-block;
    width: 100%;

    & legend
    {
        width: 100%;
    }

    & fieldset
    {
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    & input
    {
        display: block;
        width: 100%;
    }

    & textarea
    {
        display: block;
        width: 100%;
        height: 150px;
    }

    & select
    {
        display: block;
        width: 100%;
    }

    & button
    {
        float: right;
    }
}

.contact__lnk
{
    font-size: rem(22);
    transition: all 0.25s linear;
    text-decoration: none;
    color: $cerulean;
    border-bottom: 1px dotted transparent;

    @include font-leading(36, 22);

    &:hover
    {
        transition: all 0.25s linear;
        border-bottom: 1px dotted $cerulean;
    }
}

.contact__label
{
    font-size: rem(18);

    @include font-leading(25, 18);
}

.contact__img
{
    display: block;
    width: 100%;
    margin: 0 0 25px;
}
