
$white: #fff;
$black: #000;
$red: #f00;
$green: #0f0;
$blue: #00f;
$body: $black;
$ok: $green;
$err: $red;
$bay-of-many: #2b4587; // approx match => #273A81
$cerulean: #0b9fdc; // approx match => #02A4D3
$wild-sand: #f4f4f4;
$silver: #ccc; // approx match => #C0C0C0
$zumthor: #edf6ff;
