
@font-face
{
    font-family: "Brandon Grotesque";
    font-weight: normal;
    font-style: normal;

    src: url("./fonts/BrandonGrotesque-Black.eot?#iefix") format("embedded-opentype"),
    url("./fonts/BrandonGrotesque-Black.woff2") format("woff2"),
    url("./fonts/BrandonGrotesque-Black.woff") format("woff"),
    url("./fonts/BrandonGrotesque-Black.ttf") format("truetype"),
    url("./fonts/BrandonGrotesque-Black.svg#BrandonGrotesque-Black") format("svg");
    src: url("./fonts/BrandonGrotesque-Black.eot");
}
