
@import "rem";
$headings: (
    (h1, 72px, 28px, $light, $brand-font-heading, color("Bay of Many")),
    (h2, 60px, 28px, $light, $brand-font-heading, color("Bay of Many")),
    (h3, 48px, 24px, $regular, $brand-font-heading, color("Bay of Many")),
    (h4, 42px, 20px, $semibold, $brand-font-heading, color("Bay of Many")),
    (h5, 38px, 18px, $regular, $brand-font-heading, color("Bay of Many")),
    (h6, 22px, 16px, $semibold, $brand-font-heading, color("Bay of Many"))
);

@each $heading, $size, $mobilesize, $weight, $family, $color in $headings
{
    #{$heading}
    {
        font-family: $family;
        font-size: rem($size);
        font-weight: $weight;
        color: $color;

        @include mq($until: tablet)
        {
            font-size: rem($mobilesize);
        }
    }
}
