
.sub-hero-callout
{
    position: absolute;
    z-index: 100;
    bottom: -50px;
    left: 100px;
    padding: 25px 0 0 0;
    text-align: left;

    @include mq($until: base-btw-max)
    {
        left: 75px;
    }
    @include mq($until: desktop)
    {
        left: 50px;
    }
    @include mq($until: tablet)
    {
        max-width: calc(100% - 100px);
    }
    @include mq($until: retina)
    {
        bottom: -65px;
        left: 0;
        width: 100%;
        max-width: none;
        padding: 15px 0;
    }

    &::after
    {
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        margin: 0;
        content: "";
        animation: init-subhero-after 0.5s $easeOutQuint 0.5s 1 normal forwards;
        border: 0;
    }

    @keyframes init-subhero-after
    {
        0%
        {
            width: 0;
            transform: scaleX(0);
            transform-origin: left center;
            opacity: 0;
        }

        100%
        {
            width: 100%;
            transform: scaleX(1);
            transform-origin: left center;
            opacity: 1;
            background-color: $white;
        }
    }
}

.sub-hero-callout__title
{
    font-weight: $semibold;
    z-index: 1;
    visibility: hidden;
    padding: 0 35px 0;
    transform: matrix(1, 0, 0, 1, 0, 0);
    animation: init-title 1s $easeOutQuint 1s 1 normal forwards;
    opacity: 0;
    color: $white;

    @include font-tracking(0.5);
    @include mq($until: base)
    {
        font-size: rem(45);
    }
    @include mq($until: tablet)
    {
        font-size: rem(30);
        padding: 0 30px 0;
    }
    @include mq($until: retina)
    {
        font-size: rem(24);
        width: 100% !important;
        padding: 0 20px 0;

        @include font-leading(30, 24);
    }

    &::after
    {
        width: 0;
        transform: scaleX(0);
        transform-origin: left center;
        animation: init-title-after 1s $easeOutQuint 1s 1 normal forwards;
    }

    @keyframes init-title
    {
        0%
        {
            visibility: hidden;
            opacity: 0;
            color: $white;
        }

        100%
        {
            visibility: visible;
            opacity: 1;
            color: $bay-of-many;
        }
    }

    @keyframes init-title-after
    {
        0%
        {
            width: 0;
            transform: scaleX(0);
        }

        100%
        {
            width: 50px;
            transform: scaleX(1);
        }
    }
}
