.testimonials
{
    font-size: rem(40);
    font-weight: $semibold;
    line-height: 1.5;
    width: 100%;
    text-align: center;
    background-color: $wild-sand;
}

.testimonials__container
{
    &::before,
    &::after
    {
        font-family: "Felix Titling";
        font-size: rem(550);
        font-style: normal;
        position: absolute;
        z-index: 2;
        content: "\0022";
        opacity: 0.1;
    }

    &::before
    {
        top: -525px;
        left: 125px;
        transform: rotate(-180deg);
    }

    &::after
    {
        right: 125px;
        bottom: -525px;
    }
}

.testimonials__quote
{
    font-style: italic;
    z-index: 1;
    display: inline-block;
    width: 70%;
    padding: 40px 20px;
}

.testimonials__quote-name
{
    font-style: normal;
    display: inline-block;
    width: 100%;
    margin: 10px 0 0 0;
    text-align: right;

    &::before
    {
        content: "\2014\00a0";
    }
}
