
@mixin vertical-align()
{
    display: inline-block;
    vertical-align: middle;

    &::before
    {
        display: inline-block;
        height: 100%;
        margin-right: -5px;
        content: "";
        vertical-align: middle;
    }
}
